body{
    padding-top: 50px;
}
.logo{
    width:100%;
    height: 60px;
    border-width: 0px;
    background-color: lightgray;
    
}
.logo img{
    display: inline-block;
    width: 283px;
    height: 60px;
}
.interaction{
    width: 100%;
    border-color: aqua;
    border-width: 2px;
    border-style: inset;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}