#play img{
    width: 20%;
    height: auto;
}

.interaction #host{
    display: inline-block;
    width: 15%;
    height: auto;
}
.interaction .doors{
    display: inline-block;
    width: 25%;
    height: auto;
}

.animation{
    position: relative;
}
.animation #boy{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 20%;
    height: auto;
}
.animation #girl{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 20%;
    height: auto;
}
.animation #back{
    display: block;
    /* position: absolute; */
    /* z-index: 1; */
    /* width: 100%; */
    height: auto;
}